@charset 'UTF-8';
/* @import-normalize; */

/* Breakpoints */
@custom-media --sm screen and (min-width: 568px);
@custom-media --md screen and (min-width: 768px);
@custom-media --lg screen and (min-width: 1024px);
@custom-media --xl screen and (min-width: 1280px);

@import 'variables';

/* Components */
/* @import 'components/button'; */

/* Page-specific styles */
/* @import 'pages/home'; */
