$text: #555;
$bg: white;

/* breakpoints */
@custom-media --phone screen and (max-width: 544px);
@custom-media --tablet screen and (max-width: 768px);
@custom-media --desktop screen and (max-width: 992px);

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.z {
  border: 1px solid blue;
}

body {
  font-family:
    'Open Sans',
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI, Roboto,
    Oxygen, Ubuntu,
    Cantarell, Fira
    Sans, Droid Sans,
    Helvetica Neue,
    sans-serif;
  margin: 0;
  color: $text;
  background-color: $bg;
  background-image: none;
  font-size: 16px;
}
