head

  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

  title= page_title
  meta(name="description", content= page_desc)

  link(rel="shortcut icon" href="img/favicon.ico")
  link(rel="apple-touch-icon" sizes="152x152" href="img/favicon-152x152.png")

  link(href="css/main.css" rel="stylesheet")
